<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.nit.pt/wp-content/uploads/2021/05/f305c38ddc038eb686d5662b189c9fa8-754x394.jpg)">
    Save any kind of movies
</div>

<h1 class = "text-center text-dark my-3" >All Lists</h1>

<div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key) %>)"
      >
        <p><%= list.name%></p>
      </div>
      <% end %>
    <% end %>
</div>

<%# <%= link_to "Create New List", new_list_path %>
<%# url(https://source.unsplash.com/random) %>
<%# <%= link_to list.name, list_path(list), class: "list-group-item link-light"%>
<%# , height: 300, crop: :fill %>
