<div class="card-category position-relative"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')"
>
  <h1><%= @list.name %></h1>
  <p class="badge bg-warning text-dark position-absolute top-0 end-0 mt-2 me-2"><%= @list.movies.count %> movies</p>
</div>

<div class = "d-flex justify-content-between m-3">
  <div>
    <button type="button" class="btn btn-danger"><%= link_to "Delete List", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-dark" %></button>
  </div>

  <div data-controller="toggle">
    <button class="btn btn-success mb-2" data-action="click->toggle#fire" >Add a new Movie</button>

    <div data-toggle-target="togglableElement" class="d-none">
      <%= simple_form_for [@list, Bookmark.new] do |f| %>
        <%= f.association :movie, label_method: :title, value_method: :id %>
        <%= f.input :comment %>
        <div class = "d-flex justify-content-md-end">
          <%= f.submit "Add a Comment", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <h2 class="my-5 text-center">--------------Movies--------------</h2> %>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, width: 200 %>
      <div class="p-3 d-flex flex-column">
        <strong><%= bookmark.movie.title %> <span class="text-muted font-weight-normal">• <%= bookmark.movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
        <small class="text-muted"><%= bookmark.movie.overview %></small>
        <div class="d-flex align-items-end justify-content-between pt-4">
          <div>
            <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
          </div>
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list?", class: 'text-danger' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
